export(bslnoff, isPeak, pk2bmkr, getMzs, lnn, quality,
     sigma, getPeaks,  noise, read.files, specZoom,
	intg, peaks, rmBaseline, renorm, binning,gelmap,
	aveSpec, align, getPeaks2, avesd, is.multiple)

